<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Главная</title>
    <style>
        .bg-main{
            background-image: url('/images/gg.jpg');
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>
<header>{{template "header"}}</header>
<body>
<div class="bg-cover bg-main bg-center flex items-center flex-col max-h-screen" id="main">
    <div class="flex w-3/5 flex-col min-h-[calc(100vh-60px)] mx-4 bg-white max-h-[calc(100vh-60px)] overflow-auto gap-y-4">
        {{range $index, $element := .}}
        <div class="">
            {{range $subIndex, $subElement := $element}}
            <div>{{$subElement}}{{if lt $subIndex 2}},{{end}}</div>
            {{end}}
        </div>
        {{end}}
        </div>
</div>
</body>
</html>
